{% extends "index.html" %}
{% block body %}

<div class="login-box">
    <h1>Logowanie</h1>
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <form action="{{ url_for('login') }}" method=post>
        <dl>
            <dt>Nazw użyszkodnika:
            <dd><input type=text name=username>
            <dt>Hasło:
            <dd><input type=password name=password>
            <dd style="margin-top: 15px;"><input class="my-mutton" type=submit value="Zaloguj się">
        </dl>
    </form>
</div>

{% endblock %}