{% extends "index.html" %}
{% block body %}


	<div class="left-panel fullh-panel">
		<h1>Lekcje</h1>
		<ol start="0">
			<li><a href="#">Wstęp do terminala</a></li>
			<li><a href="#">Przeszukiwanie katalogów</a></li>
			<li><a href="#">Tworzenie katalogów i plików</a></li>
			<li><a href="#">Echo i wyświetlanie plików</a></li>
			<li><a href="#">Użyszkodnicy systemu i grupy</a></li>
			<li><a href="#">Prawa dostępu</a></li>
			<li><a href="#">Wyszukiwanie</a></li>
			<li><a href="#">Test sprawdzający</a></li>
		</ol>

	</div>
	<div class="right-panel fullh-panel">
		<div id="terminal"></div>
	</div>



{% endblock %}